body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	input {
		&:not([type='time']) {
			padding: 10px !important;
		}
		border-radius: 5px !important;
		// border-width: 1.4px !important;
	}

	.btn {
		border-radius: 5px !important;
		outline: none;
		padding: 10px !important;
		height: auto !important;
		font-weight: bold;
		&:focus {
			outline: 0;
			box-shadow: none !important;
		}
	}

	.form-control {
		&:focus {
			outline: 0;
			box-shadow: none !important;
		}

		&::placeholder {
			color: #c1c1c1 !important;
			font-size: 14px;
		}
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
